
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />

    <!--====== Title ======-->
    <title>eCommerce HTML | Template Six</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="assets/images/favicon.png"
      type="image/png"
    />

    <!--====== Tiny Slider CSS ======-->
    <link rel="stylesheet" href="assets/css/tiny-slider.css" />

    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css" />

    <!--====== Material Design Icons CSS ======-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" />

    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <!--====== gLightBox CSS ======-->
    <link rel="stylesheet" href="assets/css/glightbox.min.css" />

    <!--====== nouiSlider CSS ======-->
    <link rel="stylesheet" href="assets/css/nouislider.min.css" />

    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="assets/css/default.css" />

    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <!--====== PRELOADER PART START ======-->
    <div class="preloader">
      <div class="loader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-rotator">
              <div class="spinner-left">
                <div class="spinner-circle"></div>
              </div>
              <div class="spinner-right">
                <div class="spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== PRELOADER PART ENDS ======-->

    <!--====== Navbar Style 12 Part Start ======-->
    <section class="navigation">
      <!--====== Navbar Style 12 Part Start ======-->

      <header class="navbar-style-12 position-relative">
        <!-- main navbar Start -->
        <div class="container">
          <nav class="row align-items-center">
            <div class="col-3 d-lg-none">
              <!-- navbar cart start -->
              <div class="navbar-toggle icon-text-btn">
                <a
                  class="icon-btn primary-icon-text mobile-menu-open-12"
                  href="javascript:void(0)"
                  ><i class="mdi mdi-menu"></i
                ></a>
              </div>
              <!-- navbar cart Ends -->
            </div>
            <div class="col-lg-3 col-6 order-lg-1">
              <!-- navbar logo Start -->
              <div class="navbar-logo text-center text-lg-start">
                <a href="#0"><img src="assets/images/logo.svg" alt="Logo" /></a>
              </div>
              <!-- navbar logo Ends -->
            </div>
            <div class="col-3 order-lg-3">
              <!-- navbar Meta start -->
              <div class="navbar-meta">
                <ul class="meta">
                  <li>
                    <a href="#0" class="main-btn"
                      ><i class="mdi mdi-login"></i> <span>Login</span></a
                    >
                  </li>
                  <li>
                    <div class="navbar-cart">
                      <a class="main-btn primary-btn-border" href="#0"
                        ><img
                          src="assets/images/icon-svg/cart-1.svg"
                          alt="Icon"
                        />
                        <span>Cart</span></a
                      >

                      <div class="navbar-cart-dropdown">
                        <div class="checkout-style-2">
                          <div
                            class="
                              checkout-header
                              d-flex
                              justify-content-between
                            "
                          >
                            <h6 class="title">Shopping Cart</h6>
                          </div>

                          <div class="checkout-table table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td class="checkout-product">
                                    <div class="product-cart d-flex">
                                      <div class="product-thumb">
                                        <img
                                          src="assets/images/product-cart/product-1.png"
                                          alt="Product"
                                        />
                                      </div>
                                      <div class="product-content media-body">
                                        <h5 class="title">
                                          <a href="#0">Hollow Port</a>
                                        </h5>
                                        <ul>
                                          <li><span>Brown</span></li>
                                          <li><span>XL</span></li>
                                          <li>
                                            <a class="delete" href="#0"
                                              ><i class="mdi mdi-delete"></i
                                            ></a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </td>
                                  <td class="checkout-quantity">
                                    <div class="product-quantity d-inline-flex">
                                      <button
                                        type="button"
                                        id="sub"
                                        class="sub"
                                      >
                                        <i class="mdi mdi-minus"></i>
                                      </button>
                                      <input type="text" value="1" />
                                      <button
                                        type="button"
                                        id="add"
                                        class="add"
                                      >
                                        <i class="mdi mdi-plus"></i>
                                      </button>
                                    </div>
                                  </td>
                                  <td class="checkout-price">
                                    <p class="price">$36.00</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="checkout-product">
                                    <div class="product-cart d-flex">
                                      <div class="product-thumb">
                                        <img
                                          src="assets/images/product-cart/product-2.png"
                                          alt="Product"
                                        />
                                      </div>
                                      <div class="product-content media-body">
                                        <h5 class="title">
                                          <a href="#0">Mist Black Triblend</a>
                                        </h5>
                                        <ul>
                                          <li><span>Brown</span></li>
                                          <li><span>XL</span></li>
                                          <li>
                                            <a class="delete" href="#0"
                                              ><i class="mdi mdi-delete"></i
                                            ></a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </td>
                                  <td class="checkout-quantity">
                                    <div class="product-quantity d-inline-flex">
                                      <button
                                        type="button"
                                        id="sub"
                                        class="sub"
                                      >
                                        <i class="mdi mdi-minus"></i>
                                      </button>
                                      <input type="text" value="1" />
                                      <button
                                        type="button"
                                        id="add"
                                        class="add"
                                      >
                                        <i class="mdi mdi-plus"></i>
                                      </button>
                                    </div>
                                  </td>
                                  <td class="checkout-price">
                                    <p class="price">$36.00</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="checkout-product">
                                    <div class="product-cart d-flex">
                                      <div class="product-thumb">
                                        <img
                                          src="assets/images/product-cart/product-3.png"
                                          alt="Product"
                                        />
                                      </div>
                                      <div class="product-content media-body">
                                        <h5 class="title">
                                          <a href="#0">Realm Bone</a>
                                        </h5>
                                        <ul>
                                          <li><span>Brown</span></li>
                                          <li><span>XL</span></li>
                                          <li>
                                            <a class="delete" href="#0"
                                              ><i class="mdi mdi-delete"></i
                                            ></a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </td>
                                  <td class="checkout-quantity">
                                    <div class="product-quantity d-inline-flex">
                                      <button
                                        type="button"
                                        id="sub"
                                        class="sub"
                                      >
                                        <i class="mdi mdi-minus"></i>
                                      </button>
                                      <input type="text" value="1" />
                                      <button
                                        type="button"
                                        id="add"
                                        class="add"
                                      >
                                        <i class="mdi mdi-plus"></i>
                                      </button>
                                    </div>
                                  </td>
                                  <td class="checkout-price">
                                    <p class="price">$36.00</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="checkout-product">
                                    <div class="product-cart d-flex">
                                      <div class="product-thumb">
                                        <img
                                          src="assets/images/product-cart/product-4.png"
                                          alt="Product"
                                        />
                                      </div>
                                      <div class="product-content media-body">
                                        <h5 class="title">
                                          <a href="#0">Circular Sienna</a>
                                        </h5>
                                        <ul>
                                          <li><span>Brown</span></li>
                                          <li><span>XL</span></li>
                                          <li>
                                            <a class="delete" href="#0"
                                              ><i class="mdi mdi-delete"></i
                                            ></a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </td>
                                  <td class="checkout-quantity">
                                    <div class="product-quantity d-inline-flex">
                                      <button
                                        type="button"
                                        id="sub"
                                        class="sub"
                                      >
                                        <i class="mdi mdi-minus"></i>
                                      </button>
                                      <input type="text" value="1" />
                                      <button
                                        type="button"
                                        id="add"
                                        class="add"
                                      >
                                        <i class="mdi mdi-plus"></i>
                                      </button>
                                    </div>
                                  </td>
                                  <td class="checkout-price">
                                    <p class="price">$36.00</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                          <div class="checkout-footer">
                            <div
                              class="
                                checkout-sub-total
                                d-flex
                                justify-content-between
                              "
                            >
                              <p class="value">Subotal Price:</p>
                              <p class="price">$144</p>
                            </div>
                            <div class="checkout-btn">
                              <a href="#0" class="main-btn primary-btn-border"
                                >View Cart</a
                              >
                              <a href="#0" class="main-btn primary-btn"
                                >Checkout</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- navbar Meta Ends -->
            </div>
            <div class="col-lg-6 order-lg-2 position-static">
              <div class="navbar-container navbar-sidebar-12">
                <!-- navbar close  Ends -->
                <div class="navbar-close d-lg-none">
                  <a class="close-mobile-menu-12" href="javascript:void(0)"
                    ><i class="mdi mdi-close"></i
                  ></a>
                </div>
                <!-- navbar close  Ends -->

                <div class="main-navbar">
                  <!-- navbar menu Start -->
                  <ul class="main-menu-horizontal">
                    <li class="position-static menu-item-has-children">
                      <a
                        href="#0"
                        class="collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#menuVertical12-1"
                        aria-controls="menuVertical12-1"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        >Products <i class="mdi mdi-chevron-right"></i>
                      </a>
                      <!-- sub mega dropdown Start -->
                      <ul
                        class="sub-mega-dropdown collapse"
                        id="menuVertical12-1"
                      >
                        <li>
                          <div class="mega-dropdown-menu">
                            <ul
                              class="container mega-dropdown d-flex flex-wrap"
                            >
                              <li
                                class="
                                  mega-dropdown-list
                                  menu-item-has-children
                                "
                              >
                                <h6
                                  class="
                                    heading-6
                                    font-weight-500
                                    mega-title
                                    collapsed
                                  "
                                  data-bs-toggle="collapse"
                                  data-bs-target="#menuVertical12-2"
                                  aria-controls="menuVertical12-2"
                                  aria-expanded="false"
                                  aria-label="Toggle navigation"
                                >
                                  New Arrivals
                                  <i class="mdi mdi-chevron-right"></i>
                                </h6>
                                <ul class="collapse" id="menuVertical12-2">
                                  <li><a href="#0">Dressess</a></li>
                                  <li><a href="#0">Jackets</a></li>
                                  <li>
                                    <a href="#0">Hoodies & Sweatshirts</a>
                                  </li>
                                  <li><a href="#0">Sweaters</a></li>
                                  <li><a href="#0">Tops & Tees</a></li>
                                  <li><a href="#0">Party Dressess</a></li>
                                </ul>
                              </li>
                              <li
                                class="
                                  mega-dropdown-list
                                  menu-item-has-children
                                "
                              >
                                <h6
                                  class="
                                    heading-6
                                    font-weight-500
                                    mega-title
                                    collapsed
                                  "
                                  data-bs-toggle="collapse"
                                  data-bs-target="#menuVertical12-3"
                                  aria-controls="menuVertical12-3"
                                  aria-expanded="false"
                                  aria-label="Toggle navigation"
                                >
                                  Trending <i class="mdi mdi-chevron-right"></i>
                                </h6>
                                <ul class="collapse" id="menuVertical12-3">
                                  <li><a href="#0">Dressess</a></li>
                                  <li><a href="#0">Jackets</a></li>
                                  <li>
                                    <a href="#0">Hoodies & Sweatshirts</a>
                                  </li>
                                  <li><a href="#0">Sweaters</a></li>
                                  <li><a href="#0">Tops & Tees</a></li>
                                  <li><a href="#0">Party Dressess</a></li>
                                </ul>
                              </li>
                              <li
                                class="
                                  mega-dropdown-list
                                  menu-item-has-children
                                "
                              >
                                <h6
                                  class="
                                    heading-6
                                    font-weight-500
                                    mega-title
                                    collapsed
                                  "
                                  data-bs-toggle="collapse"
                                  data-bs-target="#menuVertical12-4"
                                  aria-controls="menuVertical12-4"
                                  aria-expanded="false"
                                  aria-label="Toggle navigation"
                                >
                                  Accessories
                                  <i class="mdi mdi-chevron-right"></i>
                                </h6>
                                <ul class="collapse" id="menuVertical12-4">
                                  <li>
                                    <a href="#0">Hoodies & Sweatshirts</a>
                                  </li>
                                  <li><a href="#0">Jackets & Coats</a></li>
                                  <li><a href="#0">Pants</a></li>
                                  <li><a href="#0">Jeans</a></li>
                                  <li><a href="#0">Tops & Tees</a></li>
                                  <li><a href="#0">Casual Shorts</a></li>
                                </ul>
                              </li>
                              <li class="mega-dropdown-list">
                                <img
                                  src="assets/images/menu-slider-1.png"
                                  alt=""
                                />
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <!-- sub mega dropdown Ends -->
                    </li>
                    <li><a href="#0">Accessories</a></li>
                    <li class="menu-item-has-children">
                      <a
                        href="#0"
                        class="collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#menuVertical12-5"
                        aria-controls="menuVertical12-5"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        >where to buy <i class="mdi mdi-chevron-right"></i>
                      </a>
                      <!-- sub menu Start -->
                      <ul class="sub-menu collapse" id="menuVertical12-5">
                        <li><a href="#0">Dropped Menu 1</a></li>
                        <li class="menu-item-has-children">
                          <a
                            href="#0"
                            class="collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#menuVertical12-6"
                            aria-controls="menuVertical12-6"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                            >Dropped Menu 2 <i class="mdi mdi-chevron-right"></i
                          ></a>
                          <ul class="sub-menu collapse" id="menuVertical12-6">
                            <li><a href="#0">Sub Dropped Menu 1</a></li>
                            <li><a href="#0">Sub Dropped Menu 2</a></li>
                            <li><a href="#0">Sub Dropped Menu 3</a></li>
                            <li class="menu-item-has-children">
                              <a
                                href="#0"
                                class="collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#menuVertical12-7"
                                aria-controls="menuVertical12-7"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                                >Sub Dropped Menu 4
                                <i class="mdi mdi-chevron-right"></i
                              ></a>
                              <ul
                                class="sub-menu collapse"
                                id="menuVertical12-7"
                              >
                                <li><a href="#0">Sub Dropped Menu 1</a></li>
                                <li><a href="#0">Sub Dropped Menu 2</a></li>
                                <li><a href="#0">Sub Dropped Menu 3</a></li>
                                <li><a href="#0">Sub Dropped Menu 4</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#0">Dropped Menu 3</a></li>
                        <li><a href="#0">Dropped Menu 4</a></li>
                      </ul>
                      <!-- sub menu Ends -->
                    </li>
                  </ul>
                  <!-- navbar menu Ends -->
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- main navbar Ends -->
        <div class="overlay-12"></div>
      </header>

      <!--====== Navbar Style 12 Part Ends ======-->
    </section>
    <!--====== Navbar Style 12 Part Ends ======-->

    <!--====== Header Style 2 Part Start ======-->

    <section class="header-style-2 position-relative">
      <div class="content-card-7-wrapper">
        <div class="content-card-style-7 content-active">
          <div
            class="single-content-card bg_cover"
            style="
              background-image: url(assets/images/content-card-5/content-1.jpg);
            "
          >
            <div class="content-card">
              <h4 class="title">
                Effortlessly cool, for the traditionalists of today
              </h4>
              <a href="#0" class="content-link">explore collection</a>
            </div>
          </div>
          <div
            class="single-content-card bg_cover"
            style="
              background-image: url(assets/images/content-card-5/content-2.jpg);
            "
          >
            <div class="content-card">
              <h4 class="title">
                Effortlessly cool, for the traditionalists of today
              </h4>
              <a href="#0" class="content-link">explore collection</a>
            </div>
          </div>
          <div
            class="single-content-card bg_cover"
            style="
              background-image: url(assets/images/content-card-5/content-3.jpg);
            "
          >
            <div class="content-card">
              <h4 class="title">
                Effortlessly cool, for the traditionalists of today
              </h4>
              <a href="#0" class="content-link">explore collection</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-product">
        <div class="product-style-25">
          <div class="product-image">
            <img src="assets/images/header-1/header-min-1.jpg" alt="product" />
          </div>
          <div class="product-content">
            <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
            <p>Reference 1102</p>
            <a href="#0" class="main-btn primary-btn-border">
              <img src="assets/images/icon-svg/cart-5.svg" alt="" />$ 399</a
            >
          </div>
        </div>
        <div class="product-style-25">
          <div class="product-image">
            <img src="assets/images/header-1/header-min-2.jpg" alt="product" />
          </div>
          <div class="product-content">
            <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
            <p>Reference 1102</p>
            <a href="#0" class="main-btn primary-btn-border">
              <img src="assets/images/icon-svg/cart-5.svg" alt="" />$ 399</a
            >
          </div>
        </div>
        <div class="product-style-25">
          <div class="product-image">
            <img src="assets/images/header-1/header-min-5.jpg" alt="product" />
          </div>
          <div class="product-content">
            <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
            <p>Reference 1102</p>
            <a href="#0" class="main-btn primary-btn-border">
              <img src="assets/images/icon-svg/cart-5.svg" alt="" />$ 399</a
            >
          </div>
        </div>
      </div>
    </section>

    <!--====== Header Style 2 Part Ends ======-->

    <!--====== Content Card Style 3 Part Start ======-->
    <section class="content-card-style-3 pt-90 pb-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="content-title text-center">
              <h2 class="title">See it bigger, brighter</h2>
              <p>Take a closer look at the features...</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-8">
            <div class="single-content mt-30 text-center">
              <div class="content-image">
                <img
                  src="assets/images/content-card-3/content-1.png"
                  alt="content"
                />
              </div>
              <div class="content-content">
                <h4 class="title">Innovative Lenses</h4>
                <p>
                  Oculus Go brings experiences to life in rich detail and
                  vibrant color with crystal clear optics.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-8">
            <div class="single-content mt-30 text-center">
              <div class="content-image">
                <img
                  src="assets/images/content-card-3/content-2.png"
                  alt="content"
                />
              </div>
              <div class="content-content">
                <h4 class="title">Ergonomic Design</h4>
                <p>
                  Oculus Go brings experiences to life in rich detail and
                  vibrant color with crystal clear optics.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-8">
            <div class="single-content mt-30 text-center">
              <div class="content-image">
                <img
                  src="assets/images/content-card-3/content-3.png"
                  alt="content"
                />
              </div>
              <div class="content-content">
                <h4 class="title">Effortless Control</h4>
                <p>
                  Oculus Go brings experiences to life in rich detail and
                  vibrant color with crystal clear optics.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== Content Card Style 3 Part Ends ======-->

    <!--====== Product Style 11 Part Start ======-->
    <section class="product-wrapper pb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="product-style-11 mt-30">
              <div class="product-image">
                <div class="product-active">
                  <div class="product-item active">
                    <img
                      src="assets/images/product-5/product-1.jpg"
                      alt="product"
                    />
                  </div>
                </div>
                <a class="add-wishlist" href="#0">
                  <i class="mdi mdi-heart-outline"></i>
                </a>
              </div>
              <div class="product-content">
                <span class="rating"><i class="mdi mdi-star"></i> 4.5/5</span>
                <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
                <p>Reference 1102</p>
                <span class="price">$ 399</span>
                <a href="#0" class="main-btn primary-btn">
                  <img src="assets/images/icon-svg/cart-7.svg" alt="" /> Add to
                  Cart</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="product-style-11 mt-30">
              <div class="product-image">
                <div class="product-active">
                  <div class="product-item active">
                    <img
                      src="assets/images/product-5/product-1.jpg"
                      alt="product"
                    />
                  </div>
                </div>
                <a class="add-wishlist" href="#0">
                  <i class="mdi mdi-heart-outline"></i>
                </a>
              </div>
              <div class="product-content">
                <span class="rating"><i class="mdi mdi-star"></i> 4.5/5</span>
                <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
                <p>Reference 1102</p>
                <span class="price">$ 399</span>
                <a href="#0" class="main-btn primary-btn">
                  <img src="assets/images/icon-svg/cart-7.svg" alt="" /> Add to
                  Cart</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="product-style-11 mt-30">
              <div class="product-image">
                <div class="product-active">
                  <div class="product-item active">
                    <img
                      src="assets/images/product-5/product-1.jpg"
                      alt="product"
                    />
                  </div>
                </div>
                <a class="add-wishlist" href="#0">
                  <i class="mdi mdi-heart-outline"></i>
                </a>
              </div>
              <div class="product-content">
                <span class="rating"><i class="mdi mdi-star"></i> 4.5/5</span>
                <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
                <p>Reference 1102</p>
                <span class="price">$ 399</span>
                <a href="#0" class="main-btn primary-btn">
                  <img src="assets/images/icon-svg/cart-7.svg" alt="" /> Add to
                  Cart</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="product-style-11 mt-30">
              <div class="product-image">
                <div class="product-active">
                  <div class="product-item active">
                    <img
                      src="assets/images/product-5/product-1.jpg"
                      alt="product"
                    />
                  </div>
                </div>
                <a class="add-wishlist" href="#0">
                  <i class="mdi mdi-heart-outline"></i>
                </a>
              </div>
              <div class="product-content">
                <span class="rating"><i class="mdi mdi-star"></i> 4.5/5</span>
                <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
                <p>Reference 1102</p>
                <span class="price">$ 399</span>
                <a href="#0" class="main-btn primary-btn">
                  <img src="assets/images/icon-svg/cart-7.svg" alt="" /> Add to
                  Cart</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== Product Style 11 Part Ends ======-->

    <!--======  Product Details Style 4 Part Start ======-->
    <section class="product-details-wrapper pt-70 pb-100">
      <div class="container">
        <div class="product-details-content text-center">
          <p class="sub-title">All-In-One VR</p>
          <h2 class="title">Oculus VR</h2>
        </div>
        <div class="product-details-style-4">
          <div class="product-details-image mt-50">
            <div class="product-image">
              <div
                class="product-image-active tab-content"
                id="v-pills-tabContent-4"
              >
                <div
                  class="single-image tab-pane fade show active"
                  id="v-pills-16"
                  role="tabpanel"
                  aria-labelledby="v-pills-16-tab"
                >
                  <img
                    src="assets/images/product-details-2/product-1.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="single-image tab-pane fade"
                  id="v-pills-17"
                  role="tabpanel"
                  aria-labelledby="v-pills-17-tab"
                >
                  <img
                    src="assets/images/product-details-2/product-2.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="single-image tab-pane fade"
                  id="v-pills-18"
                  role="tabpanel"
                  aria-labelledby="v-pills-18-tab"
                >
                  <img
                    src="assets/images/product-details-2/product-3.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="single-image tab-pane fade"
                  id="v-pills-19"
                  role="tabpanel"
                  aria-labelledby="v-pills-19-tab"
                >
                  <img
                    src="assets/images/product-details-2/product-4.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="single-image tab-pane fade"
                  id="v-pills-20"
                  role="tabpanel"
                  aria-labelledby="v-pills-20-tab"
                >
                  <img
                    src="assets/images/product-details-2/product-5.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="product-thumb-image">
              <div
                class="product-thumb-image-active nav nav-pills"
                id="v-pills-tab-4"
                role="tablist"
                aria-orientation="vertical"
              >
                <div
                  class="single-thumb active"
                  id="v-pills-16-tab"
                  data-bs-toggle="pill"
                  href="#v-pills-16"
                  role="tab"
                  aria-controls="v-pills-16"
                  aria-selected="true"
                >
                  <img
                    src="assets/images/product-details-1/thunb-1.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="single-thumb"
                  id="v-pills-17-tab"
                  data-bs-toggle="pill"
                  href="#v-pills-17"
                  role="tab"
                  aria-controls="v-pills-17"
                  aria-selected="false"
                >
                  <img
                    src="assets/images/product-details-1/thunb-2.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="single-thumb"
                  id="v-pills-18-tab"
                  data-bs-toggle="pill"
                  href="#v-pills-18"
                  role="tab"
                  aria-controls="v-pills-18"
                  aria-selected="false"
                >
                  <img
                    src="assets/images/product-details-1/thunb-3.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="single-thumb"
                  id="v-pills-19-tab"
                  data-bs-toggle="pill"
                  href="#v-pills-19"
                  role="tab"
                  aria-controls="v-pills-19"
                  aria-selected="false"
                >
                  <img
                    src="assets/images/product-details-1/thunb-4.jpg"
                    alt=""
                  />
                </div>
                <div
                  class="single-thumb"
                  id="v-pills-20-tab"
                  data-bs-toggle="pill"
                  href="#v-pills-20"
                  role="tab"
                  aria-controls="v-pills-20"
                  aria-selected="false"
                >
                  <img
                    src="assets/images/product-details-1/thunb-5.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="product-details-content mt-25">
            <p class="sub-title">All-In-One VR</p>
            <h2 class="title">Oculus VR</h2>

            <div class="row">
              <div class="col-lg-6">
                <div class="product-items flex-wrap mt-25">
                  <h6 class="item-title">Select Your Oculus:</h6>
                  <div class="items-wrapper" id="select-item-4">
                    <div class="single-item active">
                      <div class="items-image">
                        <img
                          src="assets/images/product-details-1/product-items-1.jpg"
                          alt="product"
                        />
                      </div>
                    </div>
                    <div class="single-item">
                      <div class="items-image">
                        <img
                          src="assets/images/product-details-1/product-items-2.jpg"
                          alt="product"
                        />
                      </div>
                    </div>
                    <div class="single-item">
                      <div class="items-image">
                        <img
                          src="assets/images/product-details-1/product-items-3.jpg"
                          alt="product"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="product-select-wrapper mt-10 flex-wrap">
                  <div class="select-item">
                    <h6 class="select-title">
                      Select Color: <span>Grey</span>
                    </h6>
                    <ul class="color-select" id="select-color-4">
                      <li class="active" style="background-color: #efefef"></li>
                      <li style="background-color: #fae5ec"></li>
                      <li style="background-color: #4c4c4c"></li>
                    </ul>
                  </div>
                  <div class="select-item">
                    <h6 class="select-title">Memory (GB):</h6>
                    <div class="size-select">
                      <div class="select-position">
                        <select>
                          <option value="">32gb</option>
                          <option value="">64gb</option>
                          <option value="">128 gb</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="select-item">
                    <h6 class="select-title">Select Quantity:</h6>

                    <div class="select-quantity">
                      <button type="button" id="sub" class="sub">
                        <i class="mdi mdi-minus"></i>
                      </button>
                      <input type="text" value="1" />
                      <button type="button" id="add" class="add">
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="select-item">
                    <h6 class="select-title">
                      Select Shipping Country: <span>+ $ 30 USD</span>
                    </h6>
                    <div class="country-select">
                      <div class="select-position">
                        <select>
                          <option value="0">-- Select Country --</option>
                          <option value="1">Bangladesh</option>
                          <option value="2">India</option>
                          <option value="3">Pakistan</option>
                          <option value="4">Australia</option>
                          <option value="5">Canada</option>
                          <option value="6">Spain</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="product-price">
              <h6 class="price-title">Price:</h6>
              <p class="sale-price">$ 149 USD</p>
              <p class="regular-price">$ 179 USD</p>
            </div>

            <div class="product-btn">
              <a href="#0" class="main-btn primary-btn"
                ><img src="assets/images/icon-svg/cart-4.svg" alt="" /> Add to
                cart</a
              >
              <a href="#0" class="main-btn secondary-1-btn"
                ><img src="assets/images/icon-svg/cart-8.svg" alt="" /> Buy
                Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--======  Product Details Style 4 Part Ends ======-->

    <!--====== Product Style 3 Part Start ======-->
    <section class="product-wrapper pt-70 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="product-style-3 mt-30">
              <div class="product-image">
                <div class="product-active">
                  <div class="product-item active">
                    <img
                      src="assets/images/product-2/product-1.jpg"
                      alt="product"
                    />
                  </div>
                </div>
                <a class="add-wishlist" href="#0">
                  <i class="mdi mdi-heart"></i>
                </a>
              </div>
              <div class="product-content">
                <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
                <p>Reference 1102</p>
                <div class="product-price-cart">
                  <span class="price">$ 399</span>

                  <a href="#0" class="main-btn primary-btn">
                    <img src="assets/images/icon-svg/cart-4.svg" alt="" /> Add
                    to Cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-style-3 mt-30">
              <div class="product-image">
                <div class="product-active">
                  <div class="product-item active">
                    <img
                      src="assets/images/product-2/product-1.jpg"
                      alt="product"
                    />
                  </div>
                </div>
                <a class="add-wishlist" href="#0">
                  <i class="mdi mdi-heart"></i>
                </a>
              </div>
              <div class="product-content">
                <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
                <p>Reference 1102</p>
                <div class="product-price-cart">
                  <span class="price">$ 399</span>

                  <a href="#0" class="main-btn primary-btn">
                    <img src="assets/images/icon-svg/cart-4.svg" alt="" /> Add
                    to Cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-style-3 mt-30">
              <div class="product-image">
                <div class="product-active">
                  <div class="product-item active">
                    <img
                      src="assets/images/product-2/product-1.jpg"
                      alt="product"
                    />
                  </div>
                </div>
                <a class="add-wishlist" href="#0">
                  <i class="mdi mdi-heart"></i>
                </a>
              </div>
              <div class="product-content">
                <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
                <p>Reference 1102</p>
                <div class="product-price-cart">
                  <span class="price">$ 399</span>

                  <a href="#0" class="main-btn primary-btn">
                    <img src="assets/images/icon-svg/cart-4.svg" alt="" /> Add
                    to Cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== Product Style 3 Part Ends ======-->

    <!--====== Content Card Style 5 Part Start ======-->
    <section class="content-card-style-5">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-6">
            <div class="content-card-content-wrapper">
              <div class="single-content-card">
                <div class="content-card-icon">
                  <i class="mdi mdi-truck-fast"></i>
                </div>
                <div class="content-card-content">
                  <h4 class="title">Two-hour delivery</h4>
                  <p>Available in most metros on selected in-stock products</p>
                </div>
              </div>
              <div class="single-content-card">
                <div class="content-card-icon">
                  <i class="mdi mdi-message-text"></i>
                </div>
                <div class="content-card-content">
                  <h4 class="title">Two-hour delivery</h4>
                  <p>Available in most metros on selected in-stock products</p>
                </div>
              </div>
              <div class="single-content-card">
                <div class="content-card-icon">
                  <i class="mdi mdi-ticket-percent"></i>
                </div>
                <div class="content-card-content">
                  <h4 class="title">Two-hour delivery</h4>
                  <p>Available in most metros on selected in-stock products</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-card-image">
        <img src="assets/images/content-card-1/content-2.jpg" alt="" />
      </div>
    </section>
    <!--====== Content Card Style 5 Part Ends ======-->

    <!--====== Product Style 9 Part Start ======-->
    <section class="product-wrapper pt-70 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="product-style-9 flex-row-reverse mt-30">
              <div class="product-image">
                <div class="product-active">
                  <div class="product-item active">
                    <img
                      src="assets/images/product-4/product-1.jpg"
                      alt="product"
                    />
                  </div>
                </div>
              </div>
              <div class="product-content">
                <ul class="product-meta">
                  <li>
                    <a class="add-wishlist" href="#0">
                      <i class="mdi mdi-heart-outline"></i>
                      Added
                    </a>
                  </li>
                  <li>
                    <span>
                      <i class="mdi mdi-star ration-on"></i>
                      <i class="mdi mdi-star ration-on"></i>
                      <i class="mdi mdi-star ration-on"></i>
                      <i class="mdi mdi-star ration-on"></i>
                      <i class="mdi mdi-star"></i>
                    </span>
                  </li>
                </ul>
                <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
                <p>
                  The largest Apple Watch display yet. Electrical heart sensor.
                  Re-engineered Digital Crown with haptic...
                </p>
                <div class="product-price-btn">
                  <span class="price">$ 399</span>
                  <a href="#0" class="main-btn primary-btn">
                    <img src="assets/images/icon-svg/cart-4.svg" alt="" /> Add
                    to Cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="product-style-9 flex-row-reverse mt-30">
              <div class="product-image">
                <div class="product-active">
                  <div class="product-item active">
                    <img
                      src="assets/images/product-4/product-1.jpg"
                      alt="product"
                    />
                  </div>
                </div>
              </div>
              <div class="product-content">
                <ul class="product-meta">
                  <li>
                    <a class="add-wishlist" href="#0">
                      <i class="mdi mdi-heart-outline"></i>
                      Added
                    </a>
                  </li>
                  <li>
                    <span>
                      <i class="mdi mdi-star ration-on"></i>
                      <i class="mdi mdi-star ration-on"></i>
                      <i class="mdi mdi-star ration-on"></i>
                      <i class="mdi mdi-star ration-on"></i>
                      <i class="mdi mdi-star"></i>
                    </span>
                  </li>
                </ul>
                <h4 class="title"><a href="#0">Metro 38 Date</a></h4>
                <p>
                  The largest Apple Watch display yet. Electrical heart sensor.
                  Re-engineered Digital Crown with haptic...
                </p>
                <div class="product-price-btn">
                  <span class="price">$ 399</span>
                  <a href="#0" class="main-btn primary-btn">
                    <img src="assets/images/icon-svg/cart-4.svg" alt="" /> Add
                    to Cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== Product Style 9 Part Ends ======-->

    <!--====== Pricing Style 10 Part Start ======-->
    <section class="pricing-wrapper pt-100 pb-100 gray-bg">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-3">
            <div class="pricing-tab mt-30">
              <h4 class="heading-4 font-weight-500 title">
                Offers Crafted for <br />
                You. Choose!
              </h4>

              <div class="pricing-tab-menu">
                <ul class="nav" id="myTab" role="tablist">
                  <li>
                    <a
                      class="active"
                      id="monthly-tab"
                      data-bs-toggle="tab"
                      href="#monthly"
                      role="tab"
                      aria-controls="monthly"
                      aria-selected="true"
                      >monthly</a
                    >
                  </li>
                  <li>
                    <a
                      id="yearly-tab"
                      data-bs-toggle="tab"
                      href="#yearly"
                      role="tab"
                      aria-controls="yearly"
                      aria-selected="false"
                      >yearly</a
                    >
                  </li>
                </ul>
              </div>

              <p class="paragraph-small font-weight-300">
                Get extra 10% discount for yearly <br />
                offer for one time payment.
              </p>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="pricing-style-10">
              <div class="pricing-plan-list">
                <ul>
                  <li>
                    <p class="list-title">Accounts</p>
                  </li>
                  <li>
                    <p class="list-title">Space</p>
                  </li>
                  <li>
                    <p class="list-title">Domain</p>
                  </li>
                  <li>
                    <p class="list-title">24/7 Support</p>
                  </li>
                  <li>
                    <p class="list-title">Premium Support</p>
                  </li>
                  <li>
                    <p class="list-title">Monthly Maintenance</p>
                  </li>
                  <li>
                    <p class="list-title">Advance Mantenance</p>
                  </li>
                </ul>
              </div>

              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="monthly"
                  role="tabpanel"
                  aria-labelledby="monthly-tab"
                >
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <div class="single-pricing-plan text-center">
                        <div class="pricing-plan-img">
                          <img
                            src="assets/images/pricing/pricing-10.png"
                            alt="pricing"
                          />
                          <h4 class="title">Bronze</h4>
                          <span class="price"
                            ><strong>$ 0</strong>/Monthly</span
                          >
                          <a href="#0" class="main-btn d-block primary-btn-text"
                            >Free</a
                          >
                        </div>
                        <div class="pricing-list">
                          <ul>
                            <li>
                              <p class="list-title">Accounts</p>
                              <p class="list-value">2</p>
                            </li>
                            <li>
                              <p class="list-title">Space</p>
                              <p class="list-value">Up to 5 GB</p>
                            </li>
                            <li>
                              <p class="list-title">Domain</p>
                              <p class="list-value">2</p>
                            </li>
                            <li>
                              <p class="list-title">24/7 Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Premium Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-close"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Monthly Maintenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-close"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Advance Mantenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-close"></i>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="single-pricing-plan text-center">
                        <div class="pricing-plan-img">
                          <img
                            src="assets/images/pricing/pricing-11.png"
                            alt="pricing"
                          />
                          <h4 class="title">Free Forerver</h4>
                          <span class="price"
                            ><strong>$ 99</strong>/Monthly</span
                          >
                          <a href="#0" class="main-btn d-block primary-btn"
                            >Get started</a
                          >
                        </div>
                        <div class="pricing-list">
                          <ul>
                            <li>
                              <p class="list-title">Accounts</p>
                              <p class="list-value">20</p>
                            </li>
                            <li>
                              <p class="list-title">Space</p>
                              <p class="list-value">Up to 50 GB</p>
                            </li>
                            <li>
                              <p class="list-title">Domain</p>
                              <p class="list-value">10</p>
                            </li>
                            <li>
                              <p class="list-title">24/7 Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Premium Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Monthly Maintenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Advance Mantenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-close"></i>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="single-pricing-plan text-center">
                        <div class="pricing-plan-img">
                          <img
                            src="assets/images/pricing/pricing-12.png"
                            alt="pricing"
                          />
                          <h4 class="title">Free Forerver</h4>
                          <span class="price"
                            ><strong>$ 999</strong>/Monthly</span
                          >
                          <a
                            href="#0"
                            class="main-btn d-block primary-btn-border"
                            >contact us</a
                          >
                        </div>
                        <div class="pricing-list">
                          <ul>
                            <li>
                              <p class="list-title">Accounts</p>
                              <p class="list-value">200</p>
                            </li>
                            <li>
                              <p class="list-title">Space</p>
                              <p class="list-value">Up to 500 GB</p>
                            </li>
                            <li>
                              <p class="list-title">Domain</p>
                              <p class="list-value">20</p>
                            </li>
                            <li>
                              <p class="list-title">24/7 Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Premium Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Monthly Maintenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Advance Mantenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="yearly"
                  role="tabpanel"
                  aria-labelledby="yearly-tab"
                >
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <div class="single-pricing-plan text-center">
                        <div class="pricing-plan-img">
                          <img
                            src="assets/images/pricing/pricing-10.png"
                            alt="pricing"
                          />
                          <h4 class="title">Bronze</h4>
                          <span class="price"><strong>$ 0</strong>/Yearly</span>
                          <a href="#0" class="main-btn d-block primary-btn-text"
                            >Free</a
                          >
                        </div>
                        <div class="pricing-list">
                          <ul>
                            <li>
                              <p class="list-title">Accounts</p>
                              <p class="list-value">2</p>
                            </li>
                            <li>
                              <p class="list-title">Space</p>
                              <p class="list-value">Up to 5 GB</p>
                            </li>
                            <li>
                              <p class="list-title">Domain</p>
                              <p class="list-value">2</p>
                            </li>
                            <li>
                              <p class="list-title">24/7 Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Premium Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-close"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Monthly Maintenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-close"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Advance Mantenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-close"></i>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="single-pricing-plan text-center">
                        <div class="pricing-plan-img">
                          <img
                            src="assets/images/pricing/pricing-11.png"
                            alt="pricing"
                          />
                          <h4 class="title">Free Forerver</h4>
                          <span class="price"
                            ><strong>$ 99</strong>/Yearly</span
                          >
                          <a href="#0" class="main-btn d-block primary-btn"
                            >Get started</a
                          >
                        </div>
                        <div class="pricing-list">
                          <ul>
                            <li>
                              <p class="list-title">Accounts</p>
                              <p class="list-value">20</p>
                            </li>
                            <li>
                              <p class="list-title">Space</p>
                              <p class="list-value">Up to 50 GB</p>
                            </li>
                            <li>
                              <p class="list-title">Domain</p>
                              <p class="list-value">10</p>
                            </li>
                            <li>
                              <p class="list-title">24/7 Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Premium Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Monthly Maintenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Advance Mantenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-close"></i>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="single-pricing-plan text-center">
                        <div class="pricing-plan-img">
                          <img
                            src="assets/images/pricing/pricing-12.png"
                            alt="pricing"
                          />
                          <h4 class="title">Free Forerver</h4>
                          <span class="price"
                            ><strong>$ 999</strong>/Yearly</span
                          >
                          <a
                            href="#0"
                            class="main-btn d-block primary-btn-border"
                            >contact us</a
                          >
                        </div>
                        <div class="pricing-list">
                          <ul>
                            <li>
                              <p class="list-title">Accounts</p>
                              <p class="list-value">200</p>
                            </li>
                            <li>
                              <p class="list-title">Space</p>
                              <p class="list-value">Up to 500 GB</p>
                            </li>
                            <li>
                              <p class="list-title">Domain</p>
                              <p class="list-value">20</p>
                            </li>
                            <li>
                              <p class="list-title">24/7 Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Premium Support</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Monthly Maintenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                            <li>
                              <p class="list-title">Advance Mantenance</p>
                              <p class="list-value">
                                <i class="mdi mdi-check"></i>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== Pricing Style 10 Part Ends ======-->

    <!--====== Contact Part Start ======-->
    <section class="contact-wrapper pt-50 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="contact-style-2 mt-50">
              <ul class="contact-info">
                <li>
                  <div class="single-contact-info d-flex">
                    <div class="contact-info-icon">
                      <i class="mdi mdi-map-marker"></i>
                    </div>
                    <div class="contact-info-content media-body">
                      <p>
                        Attn: Returns/Exchanges, 213 Creeks Bend Dr.
                        Downingtown, PA 19335, USA.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="single-contact-info d-flex">
                    <div class="contact-info-icon">
                      <i class="mdi mdi-email"></i>
                    </div>
                    <div class="contact-info-content media-body">
                      <p>hello@company.com</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="single-contact-info d-flex">
                    <div class="contact-info-icon">
                      <i class="mdi mdi-phone"></i>
                    </div>
                    <div class="contact-info-content media-body">
                      <p>+3561 3455 2344</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="single-contact-info d-flex">
                    <div class="contact-info-icon">
                      <i class="mdi mdi-fax"></i>
                    </div>
                    <div class="contact-info-content media-body">
                      <p>+3561 3455 2344</p>
                    </div>
                  </div>
                </li>
              </ul>
              <h4 class="heading-4 font-weight-500 title">Contact Us</h4>
              <p class="paragraph-small sub-title">
                We are 24/7 open to hear from you.
              </p>
              <div class="contact-social d-flex">
                <p>Follow Us:</p>
                <ul class="social media-body">
                  <li>
                    <a href="#0"><i class="lni lni-facebook-filled"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="lni lni-twitter-original"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="lni lni-linkedin-original"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="lni lni-instagram-original"></i></a>
                  </li>
                  <li>
                    <a href="#0"><i class="lni lni-whatsapp"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="contact-style-1 mt-50">
              <h4 class="heading-4 font-weight-500 title">
                Have a question? We're here to help.
              </h4>
              <p class="paragraph-small font-weight-300 mt-10">
                We are 24/7 open to hear from you.
              </p>

              <div class="contact-form">
                <form action="#">
                  <div class="single-form form-default">
                    <label>Full Name</label>
                    <div class="form-input">
                      <input type="text" placeholder="Full Name" />
                      <i class="mdi mdi-account"></i>
                    </div>
                  </div>
                  <div class="single-form form-default">
                    <label>Email Address</label>
                    <div class="form-input">
                      <input type="text" placeholder="Email Address" />
                      <i class="mdi mdi-email"></i>
                    </div>
                  </div>
                  <div class="select-style-2 mt-30">
                    <label>Select Subject</label>
                    <div class="select-items">
                      <div class="select-position">
                        <select>
                          <option value="0">Select Subject</option>
                          <option value="1">select option 01</option>
                          <option value="2">select option 02</option>
                          <option value="3">select option 03</option>
                          <option value="4">select option 04</option>
                          <option value="5">select option 05</option>
                        </select>
                      </div>
                      <i class="mdi mdi-menu"></i>
                    </div>
                  </div>
                  <div class="single-form form-default">
                    <label>Message</label>
                    <div class="form-input">
                      <textarea placeholder="Message"></textarea>
                      <i class="mdi mdi-message-text-outline"></i>
                    </div>
                  </div>
                  <div class="single-form">
                    <button class="main-btn primary-btn">send message</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== Contact Part Ends ======-->

    <!--====== Footer Style 2 Part Start ======-->
    <section class="footer-style-2 pt-50 pb-100">
      <div class="container">
        <div class="footer-top">
          <div class="footer-top-left mt-50">
            <a href="#0">
              <img src="assets/images/logo.svg" alt="" />
            </a>
          </div>
          <div class="footer-top-right mt-50">
            <span class="title">We Accept:</span>
            <img src="assets/images/payment.png" alt="" />
          </div>
        </div>

        <div class="footer-widget-wrapper pt-20">
          <div class="row justify-content-between">
            <div class="col-xl-7 col-lg-8">
              <div class="footer-link-widget">
                <div class="footer-link">
                  <h5 class="footer-title">My Account</h5>

                  <ul class="link">
                    <li><a href="#0">Orders</a></li>
                    <li><a href="#0">Downloads</a></li>
                    <li><a href="#0">Addresses</a></li>
                    <li><a href="#0">Account details</a></li>
                    <li><a href="#0">Logout</a></li>
                  </ul>
                </div>
                <div class="footer-link">
                  <h5 class="footer-title">Information</h5>

                  <ul class="link">
                    <li><a href="#0">About Us</a></li>
                    <li><a href="#0">Contact Us</a></li>
                    <li><a href="#0">Downloads</a></li>
                    <li><a href="#0">Sitemap</a></li>
                    <li><a href="#0">FAQs Page</a></li>
                    <li><a href="#0">Comming Soon</a></li>
                    <li><a href="#0">404 Page</a></li>
                  </ul>
                </div>
                <div class="footer-link">
                  <h5 class="footer-title">Categories</h5>

                  <ul class="link">
                    <li><a href="#0">Outfit</a></li>
                    <li><a href="#0">Sunglassess</a></li>
                    <li><a href="#0">Watches</a></li>
                    <li><a href="#0">Bags</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer-widget-subscribe">
                <h5 class="footer-title">PRODUCT</h5>
                <p>
                  Be the first to know when new products drop and get
                  behind-the-scenes content straight.
                </p>

                <div class="subscribe-form">
                  <form action="#">
                    <div class="single-form form-default">
                      <label>Enter your email address</label>
                      <div class="form-input">
                        <input type="text" placeholder="user@email.com" />
                        <i class="mdi mdi-account"></i>
                        <button class="main-btn primary-btn">
                          <span class="mdi mdi-send"></span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="footer-copyright">
            <p>
              Made with &copy; at <a href="#0">GrayGrids</a>. All rights
              reserved.
            </p>
          </div>
          <div class="footer-follow">
            <span class="title">Follow Us:</span>
            <ul class="social-follow">
              <li>
                <a href="#0"><i class="lni lni-facebook-filled"></i></a>
              </li>
              <li>
                <a href="#0"><i class="lni lni-twitter-filled"></i></a>
              </li>
              <li>
                <a href="#0"><i class="lni lni-linkedin-original"></i></a>
              </li>
              <li>
                <a href="#0"><i class="lni lni-instagram-original"></i></a>
              </li>
              <li>
                <a href="#0"><i class="lni lni-whatsapp"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--====== Footer Style 2 Part Ends ======-->

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!--====== Tiny Slider js ======-->
    <script src="assets/js/tiny-slider.js"></script>

    <!--====== nouiSlider js ======-->
    <script src="assets/js/nouislider.min.js"></script>

    <!--====== count up js ======-->
    <script src="assets/js/count-up.min.js"></script>

    <!--====== gLightBox js ======-->
    <script src="assets/js/glightbox.min.js"></script>

    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
